body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

#map-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

#map {
    width: 90vw;
    border: 2px solid #444;
}

.hotspot {
    position: absolute;
    width: 18px;
    height: 18px;
    background: rgba(255, 0, 0, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

#info-box {
    margin-top: 25px;
    font-size: 20px;
    color: #0ff;
}

.ticket-box {
    background: #222;
    padding: 20px;
    width: 300px;
    margin: 40px auto;
    border-radius: 10px;
    border: 1px solid #444;
}

input {
    width: 90%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #0ff;
    color: black;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

button:hover {
    background: #0cc;
}

